doctype html
html(lang="en", ng-app='app')
  head
    meta(charset='utf-8')
    title new app
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/fonts/fonts.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css')
    
    // inject:css
    // endinject
    
    link(rel='stylesheet', href='css/index.css', media='screen', charset='utf-8')
  body
    header
      .title
      h2.subtitle All the Star Wars data you've ever wanted
    section.datacontainer
      .topdata
        p
          strong Planets, Spaceships, Vehicles, People, Films and Species
          br
          | From all 
          strong SEVEN 
          | Star Wars films
          br
          | Now with The Force Awakens data
      .inputdata(ng-controller="HomeController as vm")
        h3 Try it now!
        .dataenter
          form.input-container(name="form")
            select.form-control.left-input(
              ng-model="vm.category",
              ng-options="option for option in vm.selects.names",
              ng-change="vm.onSelectChange(vm.category)"
            )
              option(value="", disabled selected hidden) Select
            ui-select.center-input(
              ng-model='vm.selectedItem',
              ng-disabled="!vm.category"
            )
              ui-select-match(placeholder="{{ vm.placeholder() }}")
                span(ng-bind='$select.selected.name')
              ui-select-choices(repeat='item.name as item in (vm.items | filter: $select.search)')
                span(ng-bind='item.name')
            button.add.form-control.right-input(ng-disabled='!vm.selectedItem')
              |Request
        //vm.loading ? 'Loading items' : 'Enter a category'
    // inject:js
    // endinject
