doctype html
html(lang="en", ng-app='app')
  head
    meta(charset='utf-8')
    title new app
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/fonts/fonts.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css')

    
    // inject:css
    // endinject
    
    link(rel='stylesheet', href='css/index.css', media='screen', charset='utf-8')
  body
    header
      .title
      h2.subtitle All the Star Wars data you've ever wanted
    section.datacontainer
      .topdata
        p
          strong Planets, Spaceships, Vehicles, People, Films and Species
          br
          | From all 
          strong SEVEN 
          | Star Wars films
          br
          | Now with The Force Awakens data
      .inputdata(ng-controller="HomeController as vm")
        h3 Try it now!
        .dataenter
          form.input-container(name="form")
            select.form-control.left-input.selectpicker(
              ng-model="vm.category",
              ng-options="option for option in vm.selects.names",
              ng-change="vm.onSelectChange(vm.category)"
            )
              option(value="", disabled selected hidden) Category
            ui-select.center-input(
              ng-model='vm.selectedItem',
              ng-disabled="!vm.category || vm.loading",
            
            )
              ui-select-match(placeholder="{{ vm.placeholder() }}")
                span(ng-bind='$select.selected.name')
              ui-select-choices(repeat='item.name as item in (vm.items | filter: $select.search)')
                span(ng-bind='item.name')
            button.add.form-control.right-input(ng-disabled='!vm.selectedItem', data-toggle='modal', data-target='#myModal')
              |Request
              
            // Modal
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title {{vm.selectedItem}}
                  .modal-body
                    | {{ vm.father }}
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes
    
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js')

    // inject:js
    // endinject
